CompileFlags:
  CompilationDatabase: build
  Remove:
    - -mlongcalls
    - -mtext-section-literals
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fno-jump-tables
    - -fno-shrink-wrap
    - -mtarget-align
    - -mno-target-align
  Add:
    - -Wno-unknown-warning-option
    - -Wno-macro-redefined
    - "-isystem/Users/travisdao/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20250707/xtensa-esp-elf/bin/../lib/gcc/xtensa-esp-elf/13.2.0/../../../../xtensa-esp-elf/include/c++/13.2.0"
    - "-isystem/Users/travisdao/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20250707/xtensa-esp-elf/bin/../lib/gcc/xtensa-esp-elf/13.2.0/../../../../xtensa-esp-elf/include/c++/13.2.0/xtensa-esp-elf/esp32"
    - "-isystem/Users/travisdao/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20250707/xtensa-esp-elf/bin/../lib/gcc/xtensa-esp-elf/13.2.0/../../../../xtensa-esp-elf/include/c++/13.2.0/backward"
    - "-isystem/Users/travisdao/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20250707/xtensa-esp-elf/bin/../lib/gcc/xtensa-esp-elf/13.2.0/include"
    - "-isystem/Users/travisdao/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20250707/xtensa-esp-elf/bin/../lib/gcc/xtensa-esp-elf/13.2.0/include-fixed"
    - "-isystem/Users/travisdao/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20250707/xtensa-esp-elf/bin/../lib/gcc/xtensa-esp-elf/13.2.0/../../../../xtensa-esp-elf/include"

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Build